<div class="app">
  <div class="container">
    <ghs-search (search)="searchHandler($event)"></ghs-search>
    <ghs-results-list
      [results]="results"
      [loading]="isLoading"
      [error]="error"
      (reloadSearch)="reloadHandler()"
    ></ghs-results-list>
    <ghs-pagination
      *ngIf="pageInfo && !isLoading && !error"
      [totalResults]="pageInfo.total"
      [currentPage]="pageInfo.currentPage"
      [pageSize]="ghService.pageSize"
      [isLastPage]="!pageInfo.hasNextPage"
      [isFirstPage]="!pageInfo.hasPreviousPage"
      (previous)="prevHandler()"
      (next)="nextHandler()"
    ></ghs-pagination>
  </div>
</div>
