:host {
  display: block;
  width: 100%;
  border-top:  1px solid lightgray;
}

.pagination {
  width: 100%;
  display: flex;
  padding-top: 1em;
  align-items: center;
}

.pagination-count {
  flex-basis: 18em;
}

.pagination-pages {
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  justify-content: center;

  button {
    margin: 0 1em;
    background: transparent;
    border: none;
    cursor: pointer;

    &:disabled {
      color: lightgray;
      cursor: auto;
    }
  }
}


