.results {
  padding: 1.5em 0;
}

.results-loading,
.results-error,
.results-empty {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.results-error {
  flex-direction: column;
  color: red;
  button {
    background: transparent;
    border: none;
    text-decoration: underline;
    font-size: 1em;
    margin-top: .7em;
    color: black;
    cursor: pointer;
  }
}
