/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

.btn {
  text-decoration: none;
  width: 160px;
  height: 26px;
  line-height: 26px;
  margin: 0 auto 10px auto;
  background: none;
  border-radius: 1em;
  font-size: .8em;
  font-weight: 600;
  box-sizing: border-box;
  text-align: center;
  background: #3c4146;
  color: #eef4fc;
  border: 1px solid white;
  &:hover {
    color: #3c4146;
    background: white;
    border: 1px solid #3c4146;
  }
}
